html {
    font-size: 28px;
}
body {
    margin: 0;
}
.container {
    width: 1280px;
    padding: 10px;
}
h1, h2, h3 {
    margin: 0;
}
h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 2em;
    line-height: 66px;
}
h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
    line-height: 49px;
    font-weight: 500;
    color: rgba(34, 34, 34, 0.69);
}
h3 {
    font-family: 'Sail', cursive;
    font-size: 1em;
    line-height: 32px;
    font-style: italic;
    color: rgba(34, 34, 34, 0.69);
}
.block {
    padding: 10px;
    margin-bottom: 10px;
    min-height: 150px;
}
.block:last-child {
    margin-bottom: 0;
}
.block:first-child h2 {
    color: black;
}
.block:nth-child(3) h2{
    font-weight: 500;
    text-align: center;
    line-height: 28px;
    text-transform: uppercase;
    font-size: 0.9em;
}
.block:nth-child(3) h3 {
    text-align: center;
    font-size: 0.6em;
    line-height: 18px;
    text-decoration-line: underline;
    text-transform: uppercase;
}

.block:last-child h2{
    font-weight: 800;
    text-decoration-line: line-through;
    color: rgba(46, 46, 46, 0.42);
}
.block:last-child h3 {
    text-decoration-line: line-through;
    color: rgba(46, 46, 46, 0.42);
}
.block:nth-child(odd) {
    width: 75%;
}
.block:nth-child(even) {
    width: 50%;
}

.block-1 {
    background: #55B3B9;
}
.block-2 {
    background: #C56060;
}
.block-3 {
    background: #8FC091;
    font-size: 28px;
}
.block-4 {
    background: #8F86AF;
}
.block-1:hover {
    font-size: 56px;
}
.block-2:hover {
    font-size: 56px;
}
.block-3:hover {
    font-size: 56px;
}
.block-4:hover {
    font-size: 56px;
}